<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    
    <!-- navbar -->
    <link rel="stylesheet" href="stylesheets/styles.css">

<div class="banner" id = "banner">
    <header>
        <div class="w-10">
            <h1><img src="/img/logo.png" alt=""></h1>
        </div>

        <div class="w-90">
            <%- include('../partials/navbar') %> 
        </div>
    </header>
    <div class="container" id="featured" >
        
       
        <!-- <div class="w-10 r">
            <p>R</p>
        </div> -->
    </div>
</div>

    <!-- main section -->
    <div class="main">
        <h1 class="heading">movies</h1>
        <p class="info">Movies move us like nothing else can, whether they're scary, funny, dramatic, romantic or anywhere in-between. So many titles, so much to experience.</p>
        movie list
        <!-- <div class="movie-list">
            <button class="pre-btn"><img src="img/pre.png" alt=""></button>
            <h1 class="movie-category">Popular movie</h1>
            <div class="movie-container">
                <div class="movie">
                    <img src="img/poster.jpg" alt="">
                    <p class="movie-title">movie name</p>
                </div>
            </div>
            <button class="nxt-btn"><img src="img/nxt.png" alt=""></button>
        </div> -->
    </div>

    <script src="/javascripts/api.js"></script>
    <script src="/javascripts/scroll.js"></script>
    <script src="/javascripts/home.js"></script>
    
</body>
</html>