<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Movie Generator</title>
    <link rel="stylesheet" href="/stylesheets/random.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="banner">
        <header>
            <div class="w-10">
                <h1>Netflix</h1>
            </div>

            <div class="w-90">
                <nav>
                    <div class="w-50">
                        <ul>
                            <li><a href="#home">Movies</a></li>
                            <li><a href="">Series</a></li>
                            <li><a href="popular.html">Popular</a></li>
                            <li><a href="">New</a></li>
                            <li><a href="">My list</a></li>
                            <ul>
                    </div>
                    <div class="w-50 rigth">

                    </div>
                </nav>
            </div>
        </header>

        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="stars" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 109 104.2" style="enable-background:new 0 0 109 104.2;" xml:space="preserve">
            <style type="text/css">
                .st0 {
                    fill: #FCEE21;
                }

                .st1 {
                    fill: #FCEE8D;
                }
            </style>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st0"
                        d="M59.1,2.8L72,29c0.7,1.5,2.2,2.5,3.8,2.8l28.9,4.2c4.2,0.6,5.8,5.7,2.8,8.7L86.6,65c-1.2,1.2-1.7,2.8-1.5,4.5
                L90,98.3c0.7,4.2-3.6,7.3-7.4,5.4L56.9,90c-1.5-0.8-3.2-0.8-4.7,0l-25.8,13.6c-3.7,2-8.1-1.2-7.4-5.4l4.9-28.8
                c0.3-1.6-0.3-3.3-1.5-4.5L1.5,44.6c-3-2.9-1.4-8.1,2.8-8.7l28.9-4.2c1.7-0.2,3.1-1.3,3.8-2.8L50,2.8C51.8-0.9,57.2-0.9,59.1,2.8z" />
                </g>
                <g>
                    <path class="st1" d="M58.3,11.4L68.9,33c0.6,1.2,1.8,2.1,3.2,2.3l23.8,3.5c3.4,0.5,4.8,4.7,2.3,7.2L81,62.7c-1,1-1.4,2.4-1.2,3.7
                l4.1,23.7c0.6,3.4-3,6-6.1,4.4L56.5,83.4c-1.2-0.6-2.7-0.6-3.9,0L31.3,94.6c-3.1,1.6-6.7-1-6.1-4.4l4.1-23.7
                c0.2-1.4-0.2-2.7-1.2-3.7L10.8,45.9c-2.5-2.4-1.1-6.7,2.3-7.2l23.8-3.5c1.4-0.2,2.5-1.1,3.2-2.3l10.7-21.6
                C52.3,8.3,56.7,8.3,58.3,11.4z" />
                </g>
            </g>
        </svg>




        <section id="resultSection">
            <div id="result">
                <div id="result-box">
                    <div class="image-wrapper">

                    </div>
                </div>
            </div>
            <div id="randomise">Randomise</div>

        </section>
       <section id="movie-list"></section>

        <script>
            let original_img_url = "https://image.tmdb.org/t/p/original";

            const list = document.getElementById("movie-list")
            const movie_selector = () => {

                fetch("https://api.themoviedb.org/3/trending/all/week?" + new URLSearchParams({
                    api_key: "6483a6e211092b09b7466883e175cd26"
                }))
                    .then(res => res.json())
                    .then(data => {
                        makeArray(data)
                    })
            }

            movie_selector()

            const makeArray = (data) => {
                for(let i = 0; i < 30; i++)
                list.innerHTML += `<div class="movie-box"  onclick="location.href = '/${data.results[i].id}'" id="${data.results[i].original_title}">
                <div class="image-wrapper">
                    <img src="${original_img_url}${data.results[i].poster_path}"
                        alt="no image" srcset="">
                </div>
                ${data.results[i].original_title}
            </div>`
            
            }

         
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
        <script src="/javascripts/random.js"></script>
</body>

</html>