<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>JWPLAYER8</title>
	
	<!-- Meta -->
	<meta charset="utf-8">

	<!-- JavaScript -->
  <link rel="stylesheet" href="/stylesheets/video.css">
	<script src="https://cdn.jwplayer.com/libraries/Jq6HIbgz.js"></script>

<!--  Player Fullscreen -->
<style>#player{position:absolute;width:100%!important;height:100%!important;}
</style>
<div id="player"></div>

<script src="/javascripts/video.js"></script>
</head>

